doctype html 
html 
    head 
        title Welocome to My Dance Academia 
        block scripts 
        block style
    body 
        nav#navigation 
            ul 
                div#logocontainer
                    div#logo 
                    div#logoword MDA
                li #[a(href="/") Home]
                li #[a(href="/index") Index]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Join Us]
                li #[a(href="/contact") Contact Us]
        block content 
        footer#footer
            | Copyright &copy 2021 mydanceacademia.com | All Rights Reserved   